<% @client_msg.each do |message| %>
  <div class="message" id="newclient<%= message.id %>">
    <div class="header">
      <div class="sender"><%= message.sender.name %></div>
      <div class="body">            
        <p><%= raw truncate(strip_html(message.title), :length => 45) %></p>
      </div>
      <div class="date"><%= time_ago_in_words(message.created_at) %></div>
      <div class="clear"></div>
    </div>
    <div class="content" style="display: none;">
      <div class="body"><%=raw strip_format_font(message.body) %></div>
      <div class="clear"></div>
      <div class="action">
        <% if roles_write_message(current_account) %>  
          <a href="#" class="reply">Reply</a>
          <% if current_account.id == message.sender_id %>
            <%= link_to "delete", delete_message_client_path(:id => message.client_request_id, :message_id => message.id, :page => params[:page]),
              :confirm => "Are you sure?",
              :remote => true%>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
<% if @client_msg.size > 0 %>
<div class="pagination-messsage">
  <%= paginate @client_msg, :remote => true, :params => {:controller => "tasks", :action => "client_discussion", :id => @client_msg.first.client_request_id} %>
</div>
<% end %>