<div id="subNav">
  <%= link_to "Back", "/tasks/list/open" %> | <a href="#" onclick="Task.toggleEdit()">Edit</a>
</div>
<div>
<%= render :partial => "edit", :locals => {:task => @task}%>
</div>
<%
  # Specify the suffixes for each message partial used in this page
  message_id_suffixes = {"client_discussion" => "__client", "developer_discussion" => "__developer"}
  file_id_suffixes = {"client_request_file" => "__client_request", "task_file" => "__task"}
%>
<%=  %>
<!-- idSuffixes is used to observe instances of the message partials used in this page -->
<input type="hidden" id="idSuffixes"
  value="<%= array_to_comma_separated_string(message_id_suffixes.values) %>" />
<input type="hidden" id="fileIdSuffixes"
  value="<%= array_to_comma_separated_string(file_id_suffixes.values) %>" />

<div class="LeftColumn">
  <div class="LeftInnerColumn">
    <!-- Task + ClientRequest summary -->
    <div id="requestSummary">
    <%= render :partial => "summary", :locals => {:task => @task} %>
	</div>
    <!-- ClientRequest changes -->
    <%= render :partial => "client_requests/changes",
      :locals => {:client_request => @task.client_request, :changes => @client_request_changes, :readonly => true} %>
    <!-- ClientRequest attached files-->
    <%= render :partial => "attached_files/files",
      :locals => {
        :files => @client_request_files,
        :id_suffix => file_id_suffixes["client_request_file"],
        :client_request_id => @task.client_request.id,
        :task_id => nil,
        :readonly => true} %>
    <!-- ClientRequest messages -->
    <%= render :partial => "/messages/client_messages",
      :locals => {
        :title => "Client Discussion",
        :id_suffix => message_id_suffixes["client_discussion"],
        :client_request => @task.client_request,
        :milestone_id => nil,
        :client_request_id => @task.client_request.id,
        :messages => @task.client_request.client_messages,
        :readonly => true} %>
        
  </div>
</div>
<div class="RightColumn">
  <div class="RightInnerColumn">
    <!-- Task summary -->
    <div id = "taskSummary">
    <%= render :partial => "tasks/task_summary",
      :locals => {:task => @task} %>	
     </div>
    <br />
    <!-- Technical notes -->
    <%= render :partial => "tasks/notes",
      :locals => {:task => @task, :notes => @technical_notes} %>
    <!-- Task attached files-->
    <%= render :partial => "attached_files/files",
      :locals => {
        :files => @task_files,
        :id_suffix => file_id_suffixes["task_file"],
        :client_request_id => nil,
        :task_id => @task.id,
        :readonly => false} %>
    <!-- Task messages -->
    <%= render :partial => "/messages/messages",
      :locals => {
        :title => "Developer Discussion",
        :id_suffix => message_id_suffixes["developer_discussion"],
        :client_request => @task.client_request,
        :milestone_id => nil,
        :client_request_id => nil,
        :task_id => @task.id,
        :messages => Message.developer_discussion_on_task(@task.id, nil),
        :readonly => false} %>
  </div>
</div>
