<div class="Applet">
  <h3 class="appletTitle">Changes</h3>
  <div class="floatRight">
    <a id="showHideChanges" href="#">Hide</a>
  </div>
  <div id="changes">
    <div id="changeList">
      <%= render :partial => "client_requests/change_list", :locals => {:changes => changes} %>
    </div>
	<% unless readonly%>
		<div class="ClearBoth">
			<a href="#" id="createChange" onclick="ClientRequestChange.toggleForm()">Add new</a>
		</div>
	<%end%>
    <div id="newChange" style="display: none">
      <fieldset>
        <div id="newChangeError" style="display: none">&nbsp;</div>
        <%= form_tag :url => "/client_requests/new_change",
          :remote => true,
          :html => {:id => "newChangeForm"},
          :loading => "ClientRequestChange.onSubmit()",
          :success => "ClientRequestChange.onComplete()" do %>
          <p><%= label_tag "description" %><br/>
          <%= text_area_tag "description", nil, :class => "flexibleTextArea", :rows => "5", :cols => "0" %></p>
          <p>
            <%= submit_tag "Save", :id => "changeSaveButton", :name => "save" %>
            <input type="button" id="changeDiscardButton" value="Discard" onclick="ClientRequestChange.discard()" />
          </p>
          <div><%= hidden_field_tag "client_request_id", client_request.id %></div>
        <% end %>
      </fieldset>
    </div>
  </div>
</div>
